In [16]:
import sqlite3
import json

In [ ]:
with sqlite3.connect("db_data/base2.db") as conn:
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY,
        name TEXT,
        data TEXT
    )
''')  # 存储JSON数据(本质上仍然是TEXT)
    user_data = {'age': 28, 'city': '北京', 'hobbies': ['读书', '旅游']}
    cursor.execute('INSERT INTO users (name, data) VALUES (?, ?)',
                   ('张三', json.dumps(user_data, ensure_ascii=False)))

    user_data2 = {'age': 32, 'city': '上海', 'hobbies': ['游泳']}
    cursor.execute('INSERT INTO users (name, data) VALUES (?, ?)',
                   ('李四', json.dumps(user_data2, ensure_ascii=False)))

In [18]:
with sqlite3.connect("db_data/base2.db") as conn:
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM users')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

        print(type(row[2]))  # print->str
        print(json.loads(row[2]))
        
    cursor.execute("DROP TABLE IF EXISTS users")

(1, '张三', '{"age": 28, "city": "北京", "hobbies": ["读书", "旅游"]}')
<class 'str'>
{'age': 28, 'city': '北京', 'hobbies': ['读书', '旅游']}
(2, '李四', '{"age": 32, "city": "上海", "hobbies": ["游泳"]}')
<class 'str'>
{'age': 32, 'city': '上海', 'hobbies': ['游泳']}