In [10]:
from MySQL_model import MysqlDB
import pymysql

In [11]:
mysqldb = MysqlDB('localhost', 'qwer123456', 'tests')

In [12]:
# 参数化数据更新(不需要手动为字符串值添加单引号)
sql_insert = """
INSERT INTO book (id, bName, price) VALUES (%s, %s, %s);
"""

try:
    mysqldb.change_data(sql_insert, [99, 'go', 58.0])
except pymysql.Error as e:
    print("数据更新失败: " + str(e))
    # 发生错误时回滚
    mysqldb.rollback()
finally:
    # 关闭数据库连接
    mysqldb.close_con()